* {
  margin: 0;
  padding: 0;
  font-size:100%;
  box-sizing: border-box;
}
header {
  background-color: #79BD8F;
}
.main-header{
  display: inline-block;
}
.lnr {
  color: #0F52BA;
}
.lnr-chevron-left {
  font-size: 1.1em;
}
.lnr-chevron-right {
  margin-top: 5px;
  font-size: 1.1em;
}
h1 {
  display: inline-block;
  font-size: 2em;
  font-family: cheri liney;
  margin-top: 5px;
}
.lnr-menu {
  float: right;
  color: #0F52BA;
  font-size: 40px;
  margin-top: -50px;
}
.nav-menu {
  display: none;
}
.project-template {
  display: none;
}

/*style the nav menu when hamburger button is clicked*/
.show-menu {
  display: block;
}
.show-menu li {
  padding: 10px;
  display: inline-block;
  width: 100%;
  height: 40px;
  color: #3F4040;
  font-family: sans-serif;
  background-color: #BEEB9F;
  border-bottom: 1px solid gray;
}

/*footer styles */
footer{
  background-color: #79BD8F;
  text-align: center;
  height: 50px;
}
.social-media i{
  text-align: center;
  padding-left: 30px;
  padding-top: 10px;
}
/*hide the hamburger menu when screen gets bigger*/
@media screen and (min-width: 640px){
.lnr-menu {
    display: none;
}
.nav-menu {
  display: inline;
}
.nav-menu li {
  text-align: center;
  display: inline-block;
  padding: 5px;
  padding-left: 10px;
  font-family: cheri liney;
}
.menu-nav {
  width: 30%;
  display: inline-block;
  float: right;
  position: relative;
  right: 10%;
  top: 10px;
  height: 30px;
}
}
